.accordionWrapper{padding:30px;background-color:transparent;float:left;width:80%;box-sizing:border-box;margin:5%;}
.accordionItem{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
    font-family:'Open-sans',Arial,sans-serif;
    transition: 0.4s;
}
.accordionItemHeading{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    background-color: transparent;
/*    border: 1px solid white;*/
    color:#fff;
    width:100%;
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
        box-sizing: border-box;
}
.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
    
    
}
.open .accordionItemContent{
    padding: 20px;
    background-color: transparent;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
    box-sizing: border-box;
}

.open .accordionItemHeading{
    margin:0px;
        -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: transparent;
}

/*accordion ends here*/

.fb-btn:hover {
    background-color:#0084ff;
    border: solid #0084ff;
	border-radius: 2rem;
    color: white;
    
}
.fb-btn {
    background-color:white;
    color:#0084ff;
    border: 0.125rem solid #0084ff;
	border-radius: 2rem;
}

/*facebook button ends here*/

.faq-back {
    background-image: linear-gradient(to right bottom, #461292, #42309e, #4246a8, #4659b0, #506bb5, #5476bc, #5981c2, #608cc7, #5b93d1, #559bdb, #4ca2e5, #40aaee);
    padding-bottom: 4em ;
    padding-top: 4em;
}

.cta-back {
    background-image: linear-gradient(to right bottom, #613f92, #595bad, #4f75c5, #458fd8, #43a8e8);
    padding-bottom: 4em ;
    padding-top: 4em;
}

.img-smol {
    max-width: 70%;
}

.trans-back {
    background-color: transparent;
}

.minhi {
    min-height: 80vh;
}

.card-back-1 {
    background-image: linear-gradient(to right bottom, #461292, #42309e, #4246a8, #4659b0, #506bb5);
    padding-bottom: 4em ;
    padding-top: 4em;
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
}

.card-back-1:hover {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.card-back-2 {
    background-image: linear-gradient(to right bottom, #5476bc, #5981c2, #608cc7, #5b93d1, #559bdb);
    padding-bottom: 4em ;
    padding-top: 4em;
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
}

.card-back-2:hover {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.oopacity {
    opacity: 0.7;
    transition: opacity .2s ease-in-out;
    transition: transform .2s;
}
.oopacity:hover {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    transition: transform .2s;
    transform: scale(1.1);
}
